body{
    background-color: rgb(252, 252, 253);
    font: normal 15pt;
}
header{
    color: rgb(247, 129, 129);
    text-align: center;
}
section{
  
}
p{
    margin: 5px;
    text-align: justify;
}
footer{

    text-align: center;
    font: italic;
    color: black;
}

span{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.363);
    border-radius: 2px;
    margin-left: 0;
    padding: 1px;
    background-color:rgb(240, 140, 240);
    text-align: center;
    letter-spacing: normal;
}

div{
    text-align: justify;
    margin-top: 5px;
}

label{
    font-size: 15pt;
}

input{
    margin: 0;
    width: px;
}